<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2 justify-content-center">
                <div class="col-md-6">
                  <label class="form-label" for="id">Employee ID</label>
                  <input id="id" name="id" type="text" class="form-control"
                    placeholder="" aria-label="employeeid" aria-describedby="basic-addon1" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="customdropdown">
                    <div class="select selectpositionmodal">
                      <span id="selectedpositionmodal">Select Position</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="positionmodal" id="positionmodal">
                    <ul class="customdropdown-menu positionlistmodal">
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 mb-2">
                  <div class="customdropdown">
                    <div class="select selectaccessmodal">
                      <span id="selectedaccessmodal">Select Access</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="accessmodal" id="accessmodal">
                    <ul class="customdropdown-menu accesslistmodal">
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row mb-2 justify-content-center">
                <div class="col-md-6">
                  <label class="form-label" for="usernamemodal">User Name</label>
                  <input id="usernamemodal" name="usernamemodal" type="text" class="form-control"
                    placeholder="Enter New User Name" aria-label="usernamemodal" aria-describedby="basic-addon1" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button type="button" id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="cyber-title">Employee</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Full Name</span>
              </div>
              <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Enter Full Name"
                aria-label="fullname" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">User Name</span>
              </div>
              <input id="username" name="username" type="text" class="form-control" placeholder="Enter User Name"
                aria-label="username" aria-describedby="basic-addon1" />
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Password</span>
              </div>
              <input id="password" name="password" type="password" class="form-control" placeholder="Enter Password"
                aria-label="password" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>

        <div class="row d-flex">
          <div class="col-md-6 mb-2">
            <div class="customdropdown">
              <div class="select selectposition">
                <span id="selectedposition">Select Position</span>
                <i class="fa fa-chevron-left"></i>
              </div>
              <input type="hidden" name="position" id="position">
              <ul class="customdropdown-menu positionlist">
              </ul>
            </div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="customdropdown">
              <div class="select selectaccess">
                <span id="selectedaccess">Select Access</span>
                <i class="fa fa-chevron-left"></i>
              </div>
              <input type="hidden" name="access" id="access">
              <ul class="customdropdown-menu accesslist">
              </ul>
            </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center mb-2">
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Department</span>
              </div>
              <input id="department" name="department" type="text" class="form-control" placeholder="Enter Department Name"
                aria-label="department" aria-describedby="basic-addon1" />
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-md-4 align mt-1">
            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-cyberpower shadow-sm w-100">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
  <div class="progress progress-sm mb-2">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <div class="card-header card-bg align-content-center">
    <div class="row">
      <div class="col-md-3">
        <h5 class="m-0 font-weight-bold cyber-title mt-2">Employee Table</h5>
      </div>
      <div class="col-md-8 mt-1">
        <input id="search" name="search" type="text" class="form-control" placeholder="Search Category Name"
          aria-label="search" aria-describedby="basic-addon1" />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive scrollable-table-container">
      <table class="table custom-mobile-table" id="datatable" width="100%" cellspacing="10">
        <thead class="table-dark table-header">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Position</th>
            <th>Department by</th>
            <th>User Name</th>
            <th>Access</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody class="no-border"></tbody>
      </table>
    </div>
  </div>
</div>