<script>
  $(document).ready(function () {
    //Functionality
    var activePositions = [];
    let employeeid = "";
    let status = "";

    LoadTable();

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $('#datatable tbody');
    for(let i = 0; i < 7; i++){
      tbody.append(loader);
    }

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      employeeid = dataRow[0];
      fullname = dataRow[1];
      status = dataRow[8];
    });

    $(document).on("click", "#editBtn", function () {
      $("#employeeidmodal").val(employeeid);
      $("#fullnamemodal").val(fullname);
      $("#employeesModal").modal("show");
      loadlistmodal();
    });

    $(document).on("click", "#changePassBtn", function () {
      $("#employeeidmodal2").val(employeeid);
    });

    $(document).on("click", "#closeBtn2", function () {
      $("#password").val("");
      $("#employeeidmodal2").val("");
    });

    $(document).on("click", "#editBtn", function () {
      $("#editModal").modal("show");
      $('.customdropdown-menu.departmentlistmodal').empty();
      $('.customdropdown-menu.accesslistmodal').empty();
      $('.customdropdown-menu.positionlistmodal').empty();
    });

    $(document).on("click", "#closeBtn", function () {
      $("#fullname").val("");
      $("#department").val("");
      $("#position").val("");
      $("#access").val("");
      $("#selectedpositionmodal").text('Select Position');
      $("#selectedaccessmodal").text('Select Access');
      $("#selecteddepartmentmodal").text('Select Department');
    });

    $(document).on("change", "#department", function () {
      let id = $(this).val();
      console.log(id);
    });

    $(document).on("click", "#addBtn", function () {
      let fullname = $("#fullname").val();
      let username = $("#username").val();
      let password = $("#password").val();
      let position = $("#position").val();
      let department = $("#department").val();
      let access = $("#access").val();

      var message = "";
      if (fullname == "") {
        message += "Full Name, ";
      }
      if (username == "") {
        message += "User Name, ";
      }
      if (password == "") {
        message += "Password, ";
      }
      if (position == "") {
        message += "Position, ";
      }
      if (department == "") {
        message += "Department, ";
      }
      if (access == "") {
        message += "Access, ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        console.log(fullname, username, password, position, department, access);
        $.ajax({
          type: "POST",
          url: "/employee/save",
          data: {
            fullname: fullname,
            username: username,
            password: password,
            position: position,
            department: department,
            access: access,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
              $("#fullname").val("");
              $("#username").val("");
              $("#password").val("");
              $("#position").val("");
              $("#department").val("");
              $("#access").val("");
              $("#selectedposition").text("Select Position");
              $("#selectedaccess").text("Select Access");
              $("#selecteddepartment").text("Select Department");
            }

            if (result.msg == "exist") {
              warning("Exist", `${fullname} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $("#datatable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 10,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "ACTIVE") {
            action = `<span class="editbutton" id="editBtn" name="editBtn" ><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                      <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>
                      <span class="editbutton" id="changePassBtn" data-toggle="modal" data-target="#changePassModal"><i class="fas fa-key" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === "INACTIVE") {
            action = `<span class="editbutton" id="editBtn" name="editBtn" ><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                      <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>
                      <span class="editbutton" id="changePassBtn" data-toggle="modal" data-target="#changePassModal"><i class="fas fa-key" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = item.status === 'ACTIVE' ? 'status-success' : 'status-warning';
          const containerBackground = item.status === 'ACTIVE' ? 'status-container-sc' : 'status-container-wr';

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "Employee ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.fullname,
              "data-label": "First Name",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.position,
              "data-label": "oposition",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.department,
              "data-label": "Department",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.username,
              "data-label": "username",
              class: "custom-mobile-align",
            }),
            // $("<td>", {
            //   text: item.password,
            //   "data-label": "password",
            //   class: "custom-mobile-align",
            // }),
            $("<td>", {
              text: item.access,
              "data-label": "Access Type",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.createdby,
              "data-label": "Created By",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.createddate,
              "data-label": "Created Date",
              class: "custom-mobile-align no-wrap",
            }),
            $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
              $('<div>', { class: containerBackground }).append(
                $('<span>', { text: item.status, class: statusBackground })
              )
            ),
            $("<td>", { html: action, "data-label": "Action", class: "no-wrap" })
          );
          tableBody.append(tr);
        });
      }
    }

    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: "/employee/load",
        method: "GET",
        dataType: "json",
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          },
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === "success") {
                populatedatatable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/access/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let accessname = item.name;
            let accessid = item.id;
            // console.log(accessname);

            var listItem = $("<li></li>")
              .text(accessname)
              .data("access", accessid);

            $(".accesslist").append(listItem);
          });

          $(".accesslist").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selectedaccessid = $(this).data("access");

            $("#selectedaccess").text(selectedOption);
            $("#access").val(selectedaccessid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });

      $.ajax({
        type: "GET",
        url: "/position/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let positionname = item.name;
            let positionid = item.id;
            // console.log(positionname);

            var listItem = $("<li></li>")
              .text(positionname)
              .data("position", positionid);

            $(".positionlist").append(listItem);
          });

          $(".positionlist").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selectedpositionid = $(this).data("position");

            $("#selectedposition").text(selectedOption);
            $("#position").val(selectedpositionid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });

      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let departmentname = item.name;
            let departmentid = item.id;
            // console.log(departmentname);

            var listItem = $("<li></li>")
              .text(departmentname)
              .data("department", departmentid);

            $(".departmentlist").append(listItem);
          });

          $(".departmentlist").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selecteddepartmentid = $(this).data("department");

            $("#selecteddepartment").text(selectedOption);
            $("#department").val(selecteddepartmentid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function loadlistmodal(){
      $.ajax({
        type: "GET",
        url: "/access/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let accessmodalname = item.name;
            let accessmodalid = item.id;
            // console.log(accessmodalname);

            var listItem = $("<li></li>")
              .text(accessmodalname)
              .data("accessmodal", accessmodalid);

            $(".accesslistmodal").append(listItem);
          });

          $(".accesslistmodal").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selectedaccessmodalid = $(this).data("accessmodal");

            $("#selectedaccessmodal").text(selectedOption);
            $("#accessmodal").val(selectedaccessmodalid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });

      $.ajax({
        type: "GET",
        url: "/position/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let positionmodalname = item.name;
            let positionmodalid = item.id;
            // console.log(positionmodalname);

            var listItem = $("<li></li>")
              .text(positionmodalname)
              .data("positionmodal", positionmodalid);

            $(".positionlistmodal").append(listItem);
          });

          $(".positionlistmodal").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selectedpositionmodalid = $(this).data("positionmodal");

            $("#selectedpositionmodal").text(selectedOption);
            $("#positionmodal").val(selectedpositionmodalid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });

      $.ajax({
        type: "GET",
        url: "/department/load",
        success: function (result) {
          let container = result.data;
          $.each(container, (key, item) => {
            let departmentmodalname = item.name;
            let departmentmodalid = item.id;

            var listItem = $("<li></li>")
              .text(departmentmodalname)
              .data("departmentmodal", departmentmodalid);

            $(".departmentlistmodal").append(listItem);
          });

          $(".departmentlistmodal").on("click", "li", function () {
            var selectedOption = $(this).text();
            var selecteddepartmentmodalid = $(this).data("departmentmodal");

            $("#selecteddepartmentmodal").text(selectedOption);
            $("#departmentmodal").val(selecteddepartmentmodalid).change();
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    $(document).on("click", "#activeBtn", function () {
      console.log(employeeid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/employee/status",
        data: {
          status: status,
          id: employeeid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${employeeid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(employeeid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/employee/status",
        data: {
          status: status,
          id: employeeid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${employeeid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#updateBtn", function () {
      let employeeid = $("#employeeidmodal").val();
      let fullname = $("#fullnamemodal").val();
      let access = $("#accessmodal").val();
      let position = $("#positionmodal").val();
      let department = $("#departmentmodal").val();

      var message = "";

      if (
        fullname == "" &&
        position == "" &&
        department == "" &&
        access == ""
      ) {
        message += "Fill up atleast 1 input field before updating";
      }

      if (message != "") {
        warning("Required", `${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/employee/edit",
          data: {
            employeeid: employeeid,
            fullname: fullname,
            position: position,
            access: access,
            department: department,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              $("#editModal").modal("hide");
              $("#fullname").val("");
              $("#department").val("");
              $("#position").val("");
              $("#access").val("");
              $("#selectedpositionmodal").text('Select Position');
              $("#selectedaccessmodal").text('Select Access');
              $("#selecteddepartmentmodal").text('Select Department');
              success("Saved", "Successfully");
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    $(document).on("click", "#updatePassword", function () {
      let employeeid = $("#employeeidmodal2").val();
      let password = $("#newpassword").val();

      var message = "";

      if (
        password == ""
      ) {
        message += "Password";
      }

      if (message != "") {
        warning("Required", `${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/employee/changepassword",
          data: {
            employeeid: employeeid,
            password: password,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              $("#changePassModal").modal("hide");
              $("#password").val("");
              $("#employeeidmodal2").val("");
              success("Saved", "Successfully");
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    LoadList();

    //#region Upload
    $(document).on("click", "#uploadButton", function () {
      //   console.log("clicked!");
      let uploaddata = $("#fileinput").val();
      if (uploaddata != "") {
        UploadProcess();
      } else {
        warning("Warning!", "No File Chosen!");
      }
    });

    function UploadProcess() {
      //Reference the FileUpload element.
      var fileUpload = document.getElementById("fileinput");

      //Validate whether File is valid Excel file.
      var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx|.csv|.ods)$/;
      if (regex.test(fileUpload.value.toLowerCase())) {
        if (typeof FileReader != "undefined") {
          var reader = new FileReader();

          //For Browsers other than IE.
          if (reader.readAsBinaryString) {
            reader.onload = function (e) {
              GetTableFromExcel(e.target.result);
            };
            reader.readAsBinaryString(fileUpload.files[0]);
          } else {
            //For IE Browser.
            reader.onload = function (e) {
              var data = "";
              var bytes = new Uint8Array(e.target.result);
              for (var i = 0; i < bytes.byteLength; i++) {
                data += String.fromCharCode(bytes[i]);
              }
              GetTableFromExcel(data);
            };
            reader.readAsArrayBuffer(fileUpload.files[0]);
          }
        } else {
          warning("Upload", "This browser does not support HTML5.");
        }
      } else {
        warning("Upload", "Please upload a valid Excel file.");
      }
    }

    function GetTableFromExcel(data) {
      //Read the Excel File data in binary
      var workbook = XLSX.read(data, {
        type: "binary",
      });

      //get the name of First Sheet.
      var Sheet = workbook.SheetNames[0];

      //Read all rows from First Sheet into an JSON array.
      var excelRows = XLSX.utils.sheet_to_row_object_array(
        workbook.Sheets[Sheet]
      );
      var columns = Object.keys(excelRows[0]);

      //Create a HTML Table element.
      var myTable = document.createElement("table");
      myTable.border = "1";

      //Add the header row.
      var row = myTable.insertRow(-1);

      var dataExcelArr = [];
      //Add the data rows from Excel file.
      for (var i = 0; i < excelRows.length; i++) {
        //Add the data row.
        var data = [];
        var row = myTable.insertRow(-1);
        for (var j = 0; j < columns.length; j++) {
          var cell = row.insertCell(-1);
          cell.innerHTML = excelRows[i][columns[j]];
          data.push({
            item: excelRows[i][columns[j]],
          });
        }
        dataExcelArr.push({
          lastname: data[0].item,
          middlename: data[1].item,
          firstname: data[2].item,
          department: data[3].item,
          position: data[4].item,
          access: data[5].item,
        });
      }
      excelDataSave(dataExcelArr);
    }

    function excelDataSave(data) {
      var dataraw = JSON.stringify(data, null, 2);
      $.ajax({
        type: "POST",
        url: "/employee/upload",
        data: {
          data: dataraw,
        },
        success: function (result) {
          if (result.msg == "noentry") {
            return warning(
              "Product Not Registered",
              `List of serials not yet registered [${result.data.noentry}]`
            );

            // swal({
            //   title: "Exist",
            //   text: "Some data already exist on the database. ID[${result.data}]",
            //   icon: "warning",
            //   button: "OK!",
            // });
          }
          if (result.msg == "dupentry") {
            return warning(
              "Already Exist",
              `List of serials that already deployed [${result.data.dupentry}]`
            );
          }

          if (result.msg == "noentrydupentry") {
            return warning(
              "Warning",
              `List of serials that are not yet register [${result.data.noentry}]\nList of serials that already dployed [${result.data.dupentry}]`
            );
          }

          success("Saved!", "Data saved!");
          LoadTable();
          // swal({
          //   title: "Success",
          //   text: "Data saved!",
          //   icon: "success",
          //   button: "OK!",
          // });

          // $('#item-tbl').DataTable().ajax.reload();
        },
        error: function (result) {
          console.error(result);
        },
      });
    }
    //#endregion

    function filterTableRows() {
      const searchQuery = $("#search").val().trim().toLowerCase();
      let foundMatches = false;

      $("#no-match-row").remove();

      $("#datatable tbody tr").each(function () {
        const rowData = $(this).text().toLowerCase();
        if (rowData.includes(searchQuery)) {
          $(this).show();
          foundMatches = true;
        } else {
          $(this).hide();
        }
      });

      if (!foundMatches) {
        const noMatchRow = $("<tr>").append(
          $("<td>", {
            colspan: 12,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        $("#datatable tbody").append(noMatchRow);
        noMatchRow.attr("id", "no-match-row");
      }
    }

    $("#search").on("input", filterTableRows);
  });
</script>
