<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 5L Solutions Supply's & Allied Services Inc.</span>
        </div>
    </div>
</footer>