<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="/images/img/logo(Red).png" class="custom-img mt-1 mb-1" alt="Responsive image" />
    </div>
    <div class="sidebar-brand-text mx-3 cyber-title">Cyber Power Inventory</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Masters</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ProductCollapse" aria-expanded="true"
      aria-controls="ProductCollapse">
      <i class="fas fa-fw fa-boxes"></i>
      <span>Product Info</span>
    </a>
    
    <div id="ProductCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="cyber-bg-content py-2 collapse-inner rounded">
        <h6 class="collapse-header">Components:</h6>
        <a class="collapse-item text-white" href="/category">Category</a>
        <a class="collapse-item text-white" href="/items">Items</a>
        <a class="collapse-item text-white" href="/itemprice">Price</a>
      </div>
    </div>

    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#EmplopyeeCollapse" aria-expanded="true"
      aria-controls="EmplopyeeCollapse">
      <i class="fas fa-fw fa-user-tie"></i>
      <span>Employee Info</span>
    </a>
    <div id="EmplopyeeCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="cyber-bg-content py-2 collapse-inner rounded">
        <h6 class="collapse-header">Components:</h6>
        <a class="collapse-item text-white" href="/employee">Employee</a>
        <a class="collapse-item text-white" href="/department">Department</a>
        <a class="collapse-item text-white" href="/position">Position</a>
        <a class="collapse-item text-white" href="/access">Access</a>
      </div>
    </div>

    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ClientCollapse" aria-expanded="true"
      aria-controls="ClientCollapse">
      <i class="fas fa-user-plus"></i>
      <span>Client</span>
    </a>
    <div id="ClientCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="cyber-bg-content py-2 collapse-inner rounded">
        <h6 class="collapse-header">Components:</h6>
        <a class="collapse-item text-white" href="/client">Register</a>
      </div>
    </div>

  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <!-- <div class="sidebar-heading">User Control</div> -->

  <!-- Nav Item - Pages Collapse Menu -->
  <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#AuthenticationCollapse"
      aria-expanded="true" aria-controls="AuthenticationCollapse">
      <i class="fas fa-fw fa-users"></i>
      <span>Authentication</span>
    </a>
    <div id="AuthenticationCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="cyber-bg-content py-2 collapse-inner rounded">
        <h6 class="collapse-header">User Info:</h6>
        <a class="collapse-item text-white" href="/users">Users</a>
      </div>
    </div>
  </li> -->

  <!-- Divider -->
  <!-- <hr class="sidebar-divider" /> -->

  <!-- Heading -->
  <div class="sidebar-heading">Products</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ProductRequestCollapse"
      aria-expanded="true" aria-controls="ProductRequestCollapse">
      <i class="fas fa-fw fa-recycle"></i>
      <span>Product</span>
    </a>
    <div id="ProductRequestCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="cyber-bg-content py-2 collapse-inner rounded">
        <h6 class="collapse-header">Selection:</h6>
        <a class="collapse-item text-white" href="/product">Register</a>
        <a class="collapse-item text-white" href="/deploy">Deploy</a>
        <a class="collapse-item text-white" href="/return">Return</a>
        <a class="collapse-item text-white" href="/repair">Repair</a>
        <a class="collapse-item text-white" href="/sold">Sold</a>
        <a class="collapse-item text-white" href="/transfer">Transfer</a>
        <a class="collapse-item text-white" href="/replace">Replace</a>
        <a class="collapse-item text-white" href="/deffective">Deffective</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>