<script>
  $(document).ready(function () {
    let categorycode = "";
    let categoryname = "";
    let status = "";

    LoadTable();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      categorycode = dataRow[0];
      categoryname = dataRow[1];
      status = dataRow[2];
    });

    $(document).on("click", "#editBtn", function () {
      $("#categorycodemodal").val(categorycode);
      $("#categorynamemodal").val(categoryname);
      $("#categoryModal").modal("show");
      console.log(categorycode);
    });

    $(document).on("click", "#addBtn", function () {
      let categoryname = $("#categoryname").val();

      var message = "";

      if (categoryname == "") {
        message += "Category Name";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/category/save",
          data: {
            categoryname: categoryname,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${categoryname} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let categorynamemodal = $("#categorynamemodal").val();

      var message = "";

      if (categorynamemodal == "") {
        message += "ACCESS TYPE NAME ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/category/edit",
          data: {
            categorynamemodal: categorynamemodal,
            categorycode: categorycode,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${categorynamemodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(categorycode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/category/status",
        data: {
          status: status,
          categorycode: categorycode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${categorycode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(categorycode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/category/status",
        data: {
          status: status,
          categorycode: categorycode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${categorycode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("datatable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $('#datatable tbody');
      tableBody.empty();

      if (data.length === 0) {
          const tr = $('<tr>').append($('<td>', {
              colspan: 6,
              class: 'text-center',
              text: 'No Data Matched'
          }));
          tableBody.append(tr);
      } else {
          data.forEach(item => {
              let action = '';
              if (item.status === 'ACTIVE') {
                  action = `
                      <button id="editBtn" class="btn btn-outline-cyberpower shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                      <button id="inactiveBtn" class="btn btn-outline-cyberpower shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
              } else if (item.status === 'INACTIVE') {
                  action = `
                      <button id="editBtn" class="btn btn-outline-cyberpower shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                      <button id="activeBtn" class="btn btn-outline-cyberpower shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
              }

              const tr = $('<tr>').append(
                  $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
                  $('<td>', { text: item.name, 'data-label': 'Category', class: 'custom-mobile-align' }),
                  $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align' }),
                  $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                  $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                  $('<td>', { html: action, 'data-label': 'Action' })
              );

              tableBody.append(tr);
          });
      }
    }
    
    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
          url: '/category/load',
          method: 'GET',
          dataType: 'json',
          xhrFields: {
              onprogress: function (e) {
                  if (e.lengthComputable) {
                      var percentComplete = (e.loaded / e.total) * 100;
                      $(".progress-bar").css("width", percentComplete + "%");
                  }
              }
          },
          success: function (data) {
              setTimeout(function () {
                  $(".progress").slideUp(function () {
                      if (data.msg === 'success') {
                          populatedatatable(data.data);
                      } else {
                          console.error(data.msg);
                      }
                  });
              }, 1000);
          },
          error: function (error) {
              console.error(error);
          }
      });
    }
  });
</script>
