@import url(customdropdown.css);
@import url(toastr.css);
:root {
  --clr-base: #700b12;
  --clr-top: #911f27;
  --clr-btn: #dd5353;
  --clr-default: #eb1c23;
  --clr-white: #fff;
  --clr-bg-table: #ff6459;
  /*
  Cybper Power Color Pallete
  */
  --clr-sidebar: #0e2263; 
  --clr-gradient-sidebar: #54b7d9;
  --clr-background: #1f232c;
  --clr-background-content: #3e4046;
  --clr-text: #45edf2;
  --clr-glow: #c72ba5;
  --clr-card: #273441;
  --clr-inputfield: #555555;
}

.sidebar-dark .sidebar-heading {
  color: var(--clr-glow) !important ;
}

/* Input Field */

.input-group-text{
  background-color: var(--clr-card) !important;
  color: var(--clr-glow) !important;
  border: 1px solid var(--clr-text) !important;
}

.form-control{
  background-color: transparent !important;
  border-left: 1px solid var(--clr-text) !important;
  border-right: transparent !important;
  border-top: transparent !important;
  border-bottom: 1px solid var(--clr-text) !important;

}

.cbi-link{
  color: var(--clr-default);
}

/* TABLE */

.scrollable-table-container-lg{
  max-height: 670px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container {
  max-height: 480px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-sm{
  max-height: 310px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-xsm{
  max-height: 210px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.table-size-lg{
  height: 825px !important;
}

.table-size{
  height: 625px !important;
}

.table-size-sm{
  height: 225px !important;
}

th{
  text-align: center !important;
  white-space: nowrap !important;
  color: var(--clr-font-color);
}

td{
  text-align: center !important;
  vertical-align: middle!important;
}

.progress-bar{
  background-color: var(--clr-glow) !important;
}

.align-content-center{
  text-align: center !important;
}

.card{
  border: 4px solid var(--clr-card) !important;
  background-color: transparent !important;
}

.card-bg{
  background-color: var(--clr-card) !important;
  border-bottom: 4px solid var(--clr-card) !important;
}

.cyber-title{
  color: var(--clr-text) !important;
}

.vertical-align-text{
  vertical-align: middle!important;
}

#content{
  background-color: var(--clr-background);
}

.btn-cyberpower{
  color: #fff !important;
  background-color: var(--clr-text) !important;
  border-color: var(--clr-text) !important;
}

.cyber-bg{
  background-color: var(--clr-background);
}

.cyber-bg-content{
  background-color: var(--clr-background-content);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: var(--clr-text) !important;
  font-weight: 700;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover{
  background-color: var(--clr-background-content) !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(
    180deg,
    var(--clr-background) 5%,
    var(--clr-background) 100%
  ) !important;
  border-right: var(--clr-text) solid 4px !important;
}
.span-font-size {
  font-size: 25px !important;
}

.green {
  background-color: var(--clr-base);
}

.img-fluid {
  border-radius: 50px !important;
  height: 60px;
  width: 60px;
  margin-left: 8px;
}
.fa,
.fas {
  margin-right: 10px !important;
}
.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
}

.bg-custom {
  background-color: #f1f6f9 !important;
}

.btn-outline-cyberpower:hover {
  background-color: var(--clr-text) !important;
  color: #fff !important;
}
.btn-outline-cyberpower {
  color: var(--clr-text) !important;
  border-color: var(--clr-text) !important;
}

.no-border{
  border: none !important;
}

button {
  width: 100px;
}

.btnclr {
  color: #fff !important;
}

.btn {
  margin-bottom: 1px !important;
}

.table-title,
.page-title {
  color: var(--clr-btn) !important;
}

.page-item.active .page-link {
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

.topbar-icon {
  color: var(--clr-btn);
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
  color: white;
}

.custom-img{
  width: 50px;
  height: 50px;
}

.input-group-prepend .input-group-text::after {
  color: #ffffff !important; /* Change this to the desired color */
}

.modal-header {
  background-color: var(--clr-card) !important;
  color: var(--clr-text);
  border-bottom: 1px solid var(--clr-card) !important;
}

.modal-body{
  background-color: var(--clr-background) !important;
}

.modal-footer{
  background-color: var(--clr-background) !important;
  border-top: 1px solid var(--clr-card) !important;
}

.form-label{
  color: var(--clr-glow) !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
  font-family: 'Share Tech', sans-serif !important;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 100%;
  height: 400px;
  border: 1px solid var(--clr-base);
  background-color: var(--clr-top);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.logintext {
  color: white;
}

.logintextbtn {
  color: black !important;
}

.container {
  height: 100%;
  align-content: center !important;
}

.loginImg {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.top-icon {
  color: var(--clr-btn);
}

.btn-link {
  color: var(--clr-text) !important;
}

.btn-link:hover {
  background-color: var(--clr-background-content) !important;
  color: var(--clr-text) !important;
}

.btn:focus{
  box-shadow: none !important;
}

.circle-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  background-color: #dd5353;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.horizontal-line,
.vertical-line {
  width: 100%;
  height: 4px;
  background-color: white;
  pointer-events: none;
}

.vertical-line {
  position: relative;
  bottom: 4px;
  transform: rotate(90deg);
}

.plus::before {
  font-size: 40px;
  color: white;
  content: "+";

  /* optional */

  /* optional */
  text-align: center;
  /* optional */
}

.minus::before {
  font-size: 40px;
  color: white;
  content: "-";
  display: inline-block;
  width: 40px;
  /* optional */
  height: 40px;
  /* optional */
  text-align: center;
  /* optional */
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown{
  margin-left: 5.1rem !important;
}

.hidden{
  display: none;
}

.custom-dropdown {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 36.7vw;
  z-index: 1000;
  border-radius: 0.275rem;
}

.custom-dropdown-modal {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: inherit;
  z-index: 1000;
  border-radius: 0.275rem;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.daterangepicker th.month{
  color: black !important;
}

@media (max-width: 767px){
  
  .custom-mobile-table thead{
    display: none;
  }

  .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
    display: block;
    width: 100%;
  }
  .custom-mobile-table tr{
    margin-bottom:15px;
  }
  .custom-mobile-table .custom-mobile-align{
    padding-left: 50%;
    position: relative;
  }
  .custom-mobile-table .custom-mobile-align::before{
    content: attr(data-label)": ";
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even){
      background-color: var(--clr-background-content) !important;
      color: var(--clr-font-white);
  }
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-glow); 
  border-radius: 6px; 
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: var(--clr-background-content); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--clr-glow); 
}

.btn-content{
  z-index: 2;
}

button.ani-btn{
  border-radius: 0.275rem;
}


/*
CALENDAR
*/


