@import url(customdropdown.css);
@import url(toastr.css);
@import url(custom-sidebar.css);
@import url(colors.css);
@import url(custom-components.css);
@import url(loading.css);

:root{
  --txt-500: 2rem;
  --txt-600: 2.5rem;
  --txt-700: 3rem;
}

.t-500{
  font-size: var(--txt-500) !important;
}

.t-600{
  font-size: var(--txt-600) !important;
}

.white-text{
  color: var(--clr-white);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: var(--clr-white) !important;
  background-color: var(--clr-text) !important;
}

.border-left-inventory {
  border-left: 0.25rem solid var(--sidebar-text-active) !important;
}

.category-bg{
  background-image: url(/images/img/category-card.png);
  background-size: cover; 
  background-repeat: no-repeat;
}

.card1-bg{
  background-image: url(/images/img/card-bg-1.png);
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.75;
}

.card2-bg{
  background-image: url(/images/img/card-bg-2.png);
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.75;
}

.toggle-view {
  display: none;
}

.toggle-view {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 0.75s ease;
}

.navbar{
  position: fixed !important;
  background-color: white !important;
  margin-left: 14rem;
  width: var(--minus-14rem);
  z-index: 2;
  margin-bottom: 10px;
}

#content{
  margin-top: 4.375rem;
  margin-left: 14rem;
}

#content1{
  background-color: var(--clr-background);
  height: 100vh;
}

.sticky-footer{
  margin-left: 14rem;
}

.custom-br-left{
  border-radius: 0.35rem 0 0 0.35rem !important;
  width: 45px !important;
}

.custom-br-right{
  border-radius: 0 0.35rem 0.35rem 0 !important;
  width: 45px !important;
}

table tr:hover {
  background-color: var(--table-tr-hover);
  color: var(--sidebar-text-active);
}

@media (min-width: 768px) {

  .content-toggled {
    margin-left: 6.5rem !important;
  }
  .navbar-toggled {
    margin-left: 6.5rem !important;
    width: var(--minus-6rem);
  }
  .footer-toggled{
    margin-left: 6.5rem !important;
  }

  .sidebar{
    min-height: 100vh;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
    max-height: 100vh;
    overflow-x: hidden;
  }
}

.editbutton:hover{
  cursor: pointer;
}

/* Sidebar */
.modal-lg {
  max-width: 100%;
  /* Adjust this value to your desired width */
}

.cbi-link{
  color: var(--clr-default);
  cursor: pointer;
}

.modal-xlg {
    max-width: 1200px !important;
}

/* TABLE */
.header-style{
  background-color: var(--clr-header-bg) !important;
  border-radius: 0.375rem !important;
}

table, th, td {
  border: none !important;
}

.table td{
  padding: 1.5rem !important;
}

.dashboard-size{
  height: 435px !important;
}

.dashboard-size-dynamic{
  max-height: 435px !important;
}

.scrollable-dashboard-size{
  height: 320px !important;
  overflow-y: auto !important;
}

.scrollable-table-container-lg{
  max-height: 670px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container {
  max-height: 545px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-sm{
  max-height: 375px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-xsm{
  max-height: 210px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  /* background-color: white; */
  z-index: 1;
}

.table-size-lg{
  height: 825px !important;
}

.table-size{
  height: 625px !important;
}

.document-size{
  max-height: 325px;
}

.scrollable-document-size{
  height: 310px !important;
  overflow-y: auto !important;
}

.no-wrap{
  white-space: nowrap;
}

.table-size-sm{
  height: 475px !important;
}

th{
  text-align: center !important;
  white-space: nowrap !important;
  color: var(--clr-font-color);
}

td{
  text-align: center !important;
  vertical-align: middle!important;
}

.progress-bar{
  background-color: var(--loading-progress) !important;
}

.align-content-center{
  text-align: center !important;
}

/* .card{
  border: 4px solid var(--clr-card) !important;
  background-color: transparent !important;
} */

/* .card-bg{
  background-color: var(--clr-card) !important;
  border-bottom: 4px solid var(--clr-card) !important;
} */

.cyber-title{
  color: var(--clr-text) !important;
}

.cyber-subheading{
  color: var(--subheading) !important;

}

.vertical-align-text{
  vertical-align: middle!important;
}

/* #content{
  background-color: var(--clr-background);
} */

/* .btn-cyberpower{
  color: #fff !important;
  background-color: var(--clr-text) !important;
  border-color: var(--clr-text) !important;
} */

/* .cyber-bg{
  background-color: var(--clr-background);
} */

.cyber-bg-content{
  background-color: var(--clr-background-content);
}

/* .bg-gradient-primary {
  background-image: linear-gradient(
    180deg,
    var(--clr-sidebar-background) 5%,
    var(--clr-sidebar-background) 100%
  ) !important;
  border-right: var(--clr-text) solid 4px !important;
}
.span-font-size {
  font-size: 25px !important;
} */

.green {
  background-color: var(--clr-base);
}

.img-fluid {
  border-radius: 50px !important;
  height: 60px;
  width: 60px;
  margin-left: 8px;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
}

.bg-custom {
  background-color: #f1f6f9 !important;
}

.btn-outline-cyberpower:hover {
  background-color: var(--clr-text) !important;
  color: #fff !important;
}
.btn-outline-cyberpower {
  color: var(--clr-text) !important;
  border-color: var(--clr-text) !important;
}

.no-border{
  border: none !important;
}

button {
  width: 100px;
}

.btnclr {
  color: #fff !important;
}

.btn {
  margin-bottom: 1px !important;
}

.table-title,
.page-title {
  color: var(--clr-btn) !important;
}

/* .page-item.active .page-link {
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
} */

.topbar-icon {
  color: var(--clr-btn);
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.responsive-col{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.custom-img{
  width: 50px;
  height: 50px;
}

/* .input-group-prepend .input-group-text::after {
  color: #ffffff !important; 
} */

.modal-header {
  color: var(--clr-text);
}

.modal-body{
  background-color: var(--clr-background) !important;
}

.modal-footer{
  background-color: var(--clr-background) !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
  font-family: 'Share Tech', sans-serif !important;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 100%;
  height: 400px;
  border: 1px solid var(--clr-base);
  background-color: var(--clr-top);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.logintext {
  color: white;
}

.logintextbtn {
  color: black !important;
}

.container {
  height: 100%;
  align-content: center !important;
}

.loginImg {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.top-icon {
  color: var(--clr-btn);
}

.btn-link {
  color: var(--clr-text) !important;
}

.btn-link:hover {
  background-color: var(--clr-background-content) !important;
  color: var(--clr-text) !important;
}

.btn:focus{
  box-shadow: none !important;
}

.circle-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  background-color: #dd5353;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.horizontal-line,
.vertical-line {
  width: 100%;
  height: 4px;
  background-color: white;
  pointer-events: none;
}

.vertical-line {
  position: relative;
  bottom: 4px;
  transform: rotate(90deg);
}

.plus::before {
  font-size: 40px;
  color: white;
  content: "+";

  /* optional */

  /* optional */
  text-align: center;
  /* optional */
}

.minus::before {
  font-size: 40px;
  color: white;
  content: "-";
  display: inline-block;
  width: 40px;
  /* optional */
  height: 40px;
  /* optional */
  text-align: center;
  /* optional */
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown{
  margin-left: 5.1rem !important;
}

.hidden{
  display: none;
}

.custom-dropdown {
  display: none;
  width: inherit;
  /* border: 1px solid var(--clr-card); */
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 36.7vw;
  z-index: 1000;
  border-radius: 0.275rem;
}

.custom-dropdown-modal {
  display: none;
  width: inherit;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: inherit;
  z-index: 1000;
  border-radius: 0.275rem;
}

.dropdown-option {
  padding: 5px 10px;
  background-color: white !important;
  border: 1px solid white !important;
  cursor: pointer;
  border-radius: 0.275rem;
}

.dropdown-option:hover {
  background-color: var(--sidebar-text-bg) !important;
  color: var(--sidebar-text-active) !important;
}

.daterangepicker th.month{
  color: black !important;
}

@media (max-width: 767px){

  .table td {
    padding: 1rem !important;
  }
  
  #content{
    margin-left: 6rem;
  }
  
  .sticky-footer{
    margin-left: 6rem;
  }  

  .navbar{
    margin-left: 6rem;
    width: var(--minus-6rem);
    border-bottom: solid 4px var(--clr-gradient-sidebar);
  }

  .content-toggled {
    margin-left: 0!important;
  }
  .navbar-toggled {
    margin-left: 0!important;
    width: 100%;
  }
  .footer-toggled{
    margin-left: 0!important;
  }
  
  .custom-mobile-table thead{
    display: none;
  }

  .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
    display: block;
    width: 100%;
  }
  .custom-mobile-table tr{
    margin-bottom:15px;
  }
  .custom-mobile-table .custom-mobile-align{
    padding-left: 50% !important;
    position: relative;
  }
  .custom-mobile-table .custom-mobile-align::before{
    content: attr(data-label)": ";
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even){
      background-color: var(--grey-50) !important;
      /* color: var(--sidebar-text-active); */
  }
}

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-text-active); 
} */

.btn-content{
  z-index: 2;
}

button.ani-btn{
  border-radius: 0.275rem;
}

/* 
CALENDAR
*/

 /* Load Spinner */
 .loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #669999;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid black;
  border-color: black transparent black transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.bg-normal{
  background-color: transparent !important;
}

.custom-image-class{
  padding-bottom: .75rem;
  max-width: 350px;
  max-height: 350px;
}

#downloadLinks {
  text-align: center;
}

.custom-download-link-class{
  color: var(--clr-text);
}