<script>
    $(document).ready(function () {
        let searchdata = localStorage.getItem('searchdata');
        let assetcontrol = "";
        $('#datatable tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            assetcontrol = dataRow[0];
        })

        if (searchdata == null){
            const tableBody = $("#datatable tbody");
            tableBody.empty();
            const tr = $("<tr>").append(
                $("<td>", {
                    colspan: 8,
                    class: "text-center",
                    text: "No Data Matched",
                })
            );
            tableBody.append(tr);
        }else{
            $.ajax({
                type: "POST",
                url: "/product/search",
                data: {
                    keyword: searchdata,
                },
                success: function (result) {
                    console.log(result.data);
                    let data = result.data;
                    const tableBody = $("#datatable tbody");
                    tableBody.empty();

                    if (data.length === 0) {
                        const tr = $("<tr>").append(
                            $("<td>", {
                                colspan: 8,
                                class: "text-center",
                                text: "No Data Matched",
                            })
                        );
                        tableBody.append(tr);
                    } else {
                        data.forEach((item) => {
                            let action = "";
                            if (item.status === "ACTIVE") {
                                action = `<span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: #45edf2;"></i></span>`;
                            } else if (item.status === "INACTIVE") {
                                action = `<span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: #45edf2;"></i></span>`;
                            }

                            const tr = $("<tr>").append(
                                $("<td>", {
                                    text: item.assetcontrol,
                                    "data-label": "Asset Control",
                                    class: "custom-mobile-align cbi-link",
                                    "data-toggle": "modal",
                                    "data-target": "#editModal", 
                                }),
                                $("<td>", {
                                    text: item.serial,
                                    "data-label": "Serial",
                                    class: "custom-mobile-align no-wrap text-white",
                                }),
                                $("<td>", {
                                    text: item.itemname,
                                    "data-label": "Item Name",
                                    class: "custom-mobile-align no-wrap text-white",
                                }),
                                $("<td>", {
                                    text: item.category,
                                    "data-label": "Category",
                                    class: "custom-mobile-align no-wrap text-white",
                                }),
                                $("<td>", {
                                    text: item.podate,
                                    "data-label": "PO Date",
                                    class: "custom-mobile-align text-white",
                                }),
                                $("<td>", {
                                    text: item.ponumber,
                                    "data-label": "PO Number",
                                    class: "custom-mobile-align text-white",
                                }),
                                $("<td>", {
                                    text: item.warrantydate,
                                    "data-label": "Warranty Date",
                                    class: "custom-mobile-align text-white",
                                }),
                                $("<td>", {
                                    text: item.status,
                                    "data-label": "Status",
                                    class: "custom-mobile-align text-white",
                                })
                            );

                            tableBody.append(tr);
                        });
                    }
                    localStorage.removeItem('searchdata');
                },
                error: function (err) {
                    errormsg(err);
                },
            });
        }
        $(document).on('click', '.cbi-link', function(){
            console.log(assetcontrol)
            $.ajax({
                type: 'POST',
                url: '/product/producthistory',
                data: {
                    assetcontrol: assetcontrol,
                },
                success: function (result) {
                    let data = result.data;
                    console.log("modal dala: ", data)
                    $('#datatablemodal tbody').empty();

                    // $.each(data, function (key, item) {
                    //     var newRow = $("<tr>");


                    //     $('#datatablemodal tbody').append(newRow);
                    // });
                },
                error: function (err) {
                    errormsg(err);
                }
            });
        })
    });
</script>