<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2 justify-content-center">
                <div class="col-md-6">
                  <label class="form-label" for="id">Employee ID</label>
                  <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control" placeholder=""
                    aria-label="employeeid" aria-describedby="basic-addon1" disabled />
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="fullnamemodal">Full Name</label>
                  <input id="fullnamemodal" name="fullnamemodal" type="text" class="form-control"
                    placeholder="Enter New full Name" aria-label="fullnamemodal" aria-describedby="basic-addon1" />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="customdropdown">
                    <div class="select selectpositionmodal">
                      <span id="selectedpositionmodal">Select Position</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="positionmodal" id="positionmodal" />
                    <ul class="customdropdown-menu positionlistmodal"></ul>
                  </div>
                </div>

                <div class="col-md-6 mb-2">
                  <div class="customdropdown">
                    <div class="select selectaccessmodal">
                      <span id="selectedaccessmodal">Select Access</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="accessmodal" id="accessmodal" />
                    <ul class="customdropdown-menu accesslistmodal"></ul>
                  </div>
                </div>
              </div>

              <div class="row mb-2 justify-content-center">
                <div class="col-md-6 mb-2">
                  <div class="customdropdown">
                    <div class="select selectdepartmentmodal">
                      <span id="selecteddepartmentmodal">Select Department</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="departmentmodal" id="departmentmodal" />
                    <ul class="customdropdown-menu departmentlistmodal"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button type="button" id="updateBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="cyber-title">Price</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        <div class="row mb-2">
          <div class="col-md-6 mb-2">
            <div class="input-group">
              <input class="form-control text-center custom-input" placeholder="Select Item" name="itemname" id="itemname" />
              <input type="hidden" id="hiddenValue" name="hiddenValue" />
              <div class="input-group-append">
                <span class="input-group-text">Deploy By</span>
              </div>
            </div>
            <div class="custom-dropdown custom-dropdown-margin-left" id="itemDropdown"></div>
          </div>

          <div class="col-md-6 mb-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">FOB Price</span>
              </div>
              <input id="fobprice" name="fobprice" type="text" class="form-control" placeholder="Enter FOB Price"
                aria-label="fobprice" aria-describedby="basic-addon1" oninput="formatPrice(event, this)"/>
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-md-4 align mt-1">
            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-cyberpower shadow-sm w-100">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
  <div class="progress progress-sm mb-2">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <div class="card-header card-bg align-content-center">
    <div class="row">
      <div class="col-md-2">
        <h5 class="m-0 font-weight-bold cyber-title mt-2">Item Price Table</h5>
      </div>
      <div class="col-md-5 mt-1">
        <input id="search" name="search" type="text" class="form-control" placeholder="Search Category Name"
          aria-label="search" aria-describedby="basic-addon1" />
      </div>
      <div class="col-md-3 mt-2">
        <div class="input-group mb-3">
          <input class="btn btn-outline-cyberpower w-100" type="file" id="fileinput" accept=".xlsx, .xls"
            placeholder="Select Excel File" />
        </div>
      </div>
      <div class="col-md-2 mt-2">
        <button class="btn btn-outline-cyberpower" id="uploadButton" type="button">
          <i class="fas fa-upload"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive scrollable-table-container">
      <table class="table custom-mobile-table" id="datatable" width="100%" cellspacing="10">
        <thead class="table-dark table-header">
          <tr>
            <th>Item ID</th>
            <th>Price (FOB)</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody class="no-border"></tbody>
      </table>
    </div>
  </div>
</div>