<section class="h-100">
    <div class="container login-py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="/images/img/5L_logo-Red.png" style="width: 220px; height: 140px;"
                                        alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Welcome to 5L Solutions <br> Cyber Power</h4>
                                </div>

                                <p>Please login to your account</p>

                                <div class="form-outline mb-2">
                                    <input type="username" id="username" name="username" class="form-control"
                                        placeholder="Enter Your User Name" />
                                    <label class="form-label" for="username">Username</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Enter Your Password" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-outline-cyberpower btn-block  mb-3" id="loginBtn"
                                        style="font-size: 1.15rem;" type="button">Log in
                                    </button>
                                    <a class="text-muted" href="#!">Forgot password?</a>
                                </div>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account? <a href="#!"
                                            class="bmss-link">Register</a></p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4 text-center" style="color: var(--clr-text);">We are more than just a Company</h4>
                                <p class="mb-0" style="text-align: justify; text-indent: 25px; font-size: 0.875rem; color: var(--clr-text);">A dynamic and forward-thinking company dedicated to providing
                                    comprehensive solutions in the realm of supplies and allied services. Specializing
                                    in a wide range of industries, the company is committed to meeting the diverse needs
                                    of its clients through innovative and efficient approaches. With a focus on quality,
                                    reliability, and customer satisfaction, 5L Solutions aims to be a trusted partner in
                                    delivering tailored solutions for procurement, logistics, and allied services. The
                                    company thrives on a foundation of professionalism, integrity, and a proactive
                                    mindset, ensuring it stays at the forefront of its field and consistently exceeds
                                    the expectations of its clientele.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>