<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="cyber-title">Deploy</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="customdropdown">
                            <div class="select selectserial">
                                <span id="selectedserial">Select Serial</span>
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="serial" id="serial">
                            <ul class="customdropdown-menu seriallist">
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row d-flex mt-2">
                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">Transfer By</span>
                            </div>
                            <input id="transferby" name="transferby" type="text" class="form-control"
                                placeholder="Enter Transfer By" aria-label="transferby" aria-describedby="basic-addon1" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">Receive By</span>
                            </div>
                            <input id="receiveby" name="receiveby" type="text" class="form-control"
                                placeholder="Enter Receive By" aria-label="receiveby" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>

                <div class="row d-flex mt-2">
                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">From</span>
                            </div>
                            <input id="from" name="from" type="text" class="form-control" placeholder="Enter From(?)"
                                aria-label="from" aria-describedby="basic-addon1" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">To</span>
                            </div>
                            <input id="to" name="to" type="text" class="form-control" placeholder="Enter To(?)"
                                aria-label="to" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-2">
                    <div class="col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">Reference Number</span>
                            </div>
                            <input id="refenceno" name="refenceno" type="text" class="form-control"
                                placeholder="Enter Reference Number" aria-label="refenceno" aria-describedby="basic-addon1" />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-md-4 align mt-1">
                        <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-cyberpower shadow-sm w-100">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="progress progress-sm mb-2">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div class="card-header card-bg align-content-center">
        <div class="row">
            <div class="col-md-3">
                <h5 class="m-0 font-weight-bold cyber-title mt-2">Deployment Table</h5>
            </div>
            <div class="col-md-8 mt-1">
                <input id="search" name="search" type="text" class="form-control" placeholder="Search Serial"
                    aria-label="search" aria-describedby="basic-addon1" />
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table custom-mobile-table" id="datatable" width="100%" cellspacing="10">
                <thead class="table-dark table-header">
                    <tr>
                        <th>ID</th>
                        <th>Asset Control</th>
                        <th>Serial</th>
                        <th>Date</th>
                        <th>Transfer By</th>
                        <th>From</th>
                        <th>Received By</th>
                        <th>To</th>
                        <th>Ref. No.</th>
                    </tr>
                </thead>

                <tbody class="no-border"></tbody>
            </table>
        </div>
    </div>
</div>